footer{
    height: 200px;
    @include flexCenter(column);
    background-color: $color_primGreen;
    h3{
        @include textCenter();
        color: $color_light;
        font-family: $font_robotoMono;
        font-size: $textSize_L;
        padding: 20px;
    }
    p{
        @include textCenter();
        color: $color_light;
        font-size: $textSize_S;
        padding: 20px;
    }
}