@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
}
body{
    width: 100%;
    background-image: url(./img/rally_home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
h1, h2, h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .5em 0;
}
p{
    margin: 0 0 1em 0;
}
/* NAV */
nav{
    margin: 0;
    width: 100%;
    background-color: rgba(102,99,74, .9);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}
nav ul{
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    text-align: center;
    font-weight: 100;
}
nav ul li a{
    display: block;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 15px 40px;
    white-space: nowrap; /* Solució pels elements de diverses paraules que no volem que es talli la línia i passin a la següent algunes paraules. */
}
nav ul li a:hover{
    color: black;
}
nav ul li:not(:last-child) a{
    border-right: 2px solid rgba(255, 255, 255, 0.4);
}
/* CONT */
main{
    margin-top: 500px;
    width: 100%;
    background-color: white;
}
.cont{
    width: 1100px;
    margin: 0 auto;
}
.intro{
    padding: 20px 100px;
    text-align: center;
    border-bottom: 2px solid  rgb(102,99,74);
}
.cols{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.cols .col{
    width: 300px;
    text-align: center;
}
.bout-op{
    padding: 10px 0;
}
.bout-op a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 10px 35px;
    background-color: rgb(102,99,74);
}
.bout-op a:hover{
    color: black;
}
.gal{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gal h2{
    margin: 0;
}
.gal .pic{
    width: 500px;
    margin-bottom: 10px;
}
.gal .pic img{
    width: 100%;
    height: auto;
}
/* WINDOW */
.quote{
    margin: 0;
    padding: 100px;
    color: white;
    text-align: center;
}
/* FOOTER */
footer{
    background-color: rgb(102,99,74);
    padding: 40px 0;
    text-align: center;
    color: white;
}
footer .copy{
    margin: 4em 0 1em 0;
    font-size: .8em;
}